<%- include('./partials/header'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Participantes</title>
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="/styles/style_evento.css">
    <script>
        $(document).ready(function(){
            $('#tabla-anadir-participantes').DataTable();
        });
    </script>
</head>
<body>
    <form action="/events/inscribir_participantes/<%= eventos.id %>" method="POST">
        <% if (usuarios.length === 0) { %>
            <!-- Mostrar mensaje si no hay participantes -->
            <p>No hay participantes por añadir.</p>
        <% } else { %>
            <!-- Botón para seleccionar todos -->
            <button type="button" id="btn-seleccionar-todos">Seleccionar Todos</button>
            <button type="button" id="btn-deseleccionar-todos" style="display: none;">Deseleccionar Todos</button>

            <!-- Mostrar la tabla si hay participantes -->
            <table id="tabla-anadir-participantes" class="w3-table-all w3-card-4">
                <thead>
                    <tr>
                        <th>Añadir</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Edad</th>
                        <th>Distancias</th>
                        <th>Categoría</th>
                    </tr>
                </thead>
                <tbody>
                    <% usuarios.forEach(usuario => { %>
                        <tr>
                            <td>
                                <input type="checkbox" name="usuarioIds" value="<%= usuario.id %>" class="usuario-checkbox" data-usuario-id="<%= usuario.id %>">
                            </td>
                            <td><%= usuario.nombre %></td>
                            <td><%= usuario.apellido %></td>
                            <td><%= usuario.email %></td>
                            <td><%= usuario.edad %></td>
                            <td>
                                <% if (eventos.distancias && eventos.distancias.length > 0) { %>
                                    <ul>
                                        <% eventos.distancias.forEach(eventoDistancia => { %>
                                            <li>
                                                <label>
                                                    <input type="radio" name="distanciaSeleccionada_<%= usuario.id %>" value="<%= eventoDistancia.distancia.nombre %>" class="distancia-radio" disabled>
                                                    <%= eventoDistancia.distancia.nombre %>
                                                </label>
                                            </li>
                                        <% }) %>
                                    </ul>
                                <% } else { %>
                                    <p>No se encontraron distancias para este evento.</p>
                                <% } %>
                            </td>
                            <td><%= usuario.categoriaAsignada.nombre %></td>
                            <input type="hidden" name="categoriaId_<%= usuario.id %>" value="<%= usuario.categoriaAsignada.id %>">
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Obtener todos los checkboxes de usuarios
        const usuarioCheckboxes = document.querySelectorAll('.usuario-checkbox');
        const btnSeleccionarTodos = document.getElementById('btn-seleccionar-todos');
        const btnDeseleccionarTodos = document.getElementById('btn-deseleccionar-todos');

        btnSeleccionarTodos.addEventListener('click', function() {
            usuarioCheckboxes.forEach(checkbox => {
                checkbox.checked = true;

                // Habilitar los radio buttons correspondientes
                const usuarioId = checkbox.getAttribute('data-usuario-id');
                const distanciaRadios = document.querySelectorAll('input[name="distanciaSeleccionada_' + usuarioId + '"]');
                distanciaRadios.forEach(radio => {
                    radio.disabled = false;
                });
            });

            // Alternar visibilidad de botones
            btnSeleccionarTodos.style.display = 'none';
            btnDeseleccionarTodos.style.display = 'inline-block';
        });

        btnDeseleccionarTodos.addEventListener('click', function() {
            usuarioCheckboxes.forEach(checkbox => {
                checkbox.checked = false;

                // Deshabilitar los radio buttons correspondientes
                const usuarioId = checkbox.getAttribute('data-usuario-id');
                const distanciaRadios = document.querySelectorAll('input[name="distanciaSeleccionada_' + usuarioId + '"]');
                distanciaRadios.forEach(radio => {
                    radio.disabled = true;
                });
            });

            // Alternar visibilidad de botones
            btnDeseleccionarTodos.style.display = 'none';
            btnSeleccionarTodos.style.display = 'inline-block';
        });

        usuarioCheckboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                const usuarioId = checkbox.getAttribute('data-usuario-id');
                const distanciaRadios = document.querySelectorAll('input[name="distanciaSeleccionada_' + usuarioId + '"]');
                
                // Si el checkbox de usuario está marcado, habilitar los radio buttons de distancia
                distanciaRadios.forEach(function(distanciaRadio) {
                    distanciaRadio.disabled = !checkbox.checked;
                });
            });
        });
    });
</script>
