<%- include('./partials/header'); %>  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignaturas</title>
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="/styles/style_tabla.css">
    <script>
        $(document).ready(function(){
            $('#tabla-mostrar-usuarios').DataTable();
        });
    </script>
</head>
    <body>
        <h1>Lista de Colegios
        </h1>
    
        <% if (comunicacion.length > 0) { %>
            <table id="tabla-mostrar-usuarios" class="w3-table-all w3-card-4">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>titulo</th>
                        <th>fecha</th>
                        <th>tipo</th>
                        <th>Curso</th>
                        <th>Colegio</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <% comunicacion.forEach(comunicacion => { %>
                        <tr>
                            <td><%= comunicacion.id %></td>
                            <td><%= comunicacion.titulo %></td>
                            <td><%= comunicacion.fechaFormateada %></td>
                            <td><%= comunicacion.tipo %></td>
                            <td><%= comunicacion.cursoId  %></td>
                            <td><%= comunicacion.colegioId  %></td>
                            <td>
                                <form action="/comunicacion/editAsignaturaRender/<%= comunicacion.id%>" method="get">
                                    <button type="submit">Editar</button>
                                </form>
                            </td>
                            <td>
                                <form action="/comunicacion/deleteColegio/<%= comunicacion.id %>" method="post" onsubmit="return confirm('¿Estás seguro que quieres eliminar este usuario?');">
                                    <button type="submit">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p>No hay comunicaciones registradas.</p>
        <% } %>
    </body>
</html>