<%- include('./partials/header'); %>
<form action="/events/edit_event/<%= evento.id %>" method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" value="<%= evento.nombre %>" required>

    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion" name="descripcion" value="<%= evento.descripcion %>" required>

    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" name="fecha" value="<%= evento.fecha.toISOString().split('T')[0] %>" required>

    <label for="lugar">Lugar:</label>
    <input type="text" id="lugar" name="lugar" value="<%= evento.lugar %>" required>

    <label for="categorias">Categorías:</label>
    <div id="categorias">
      <% categorias.forEach(categoria => { %>
        <label>
          <input type="checkbox" name="categorias" value="<%= categoria.id %>" 
          <%= evento.categorias.some(cat => cat.categoriaId === categoria.id) ? 'checked' : '' %> >
          <%= categoria.nombre %>
        </label><br>
      <% }) %>
    </div>
    
    <label for="distancias">Distancias:</label>
    <div id="distancias">
      <% distancias.forEach(distancia => { %>
        <label>
          <input type="checkbox" name="distancias" value="<%= distancia.id %>" 
          <%= evento.distancias.some(dist => dist.distanciaId === distancia.id) ? 'checked' : '' %> >
          <%= distancia.nombre %>
        </label><br>
      <% }) %>
    </div>    

    <button type="submit">Actualizar Evento</button>
</form>
