<%- include('./partials/header'); %>  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="/styles/style_formulario.css">
</head>
<body>
    <form action="/edit_user/<%= user.id %>" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="<%= user.nombre %>" required>
    
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" value="<%= user.apellido %>" required>

        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" value="<%= user.fecha_nacimiento ? new Date(user.fecha_nacimiento).toISOString().split('T')[0] : '' %>" required>
    
        <label for="telefono">Número Telefónico:</label>
        <input type="text" id="telefono" name="telefono" value="<%= user.telefono %>" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="<%= user.email %>" required>
        
        <label for="edad">Edad:</label>
        <input type="number" id="edad" name="edad" value="<%= user.edad %>" required>
    
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" placeholder="Dejar en blanco si no desea cambiarla">

        <input type="hidden" id="rolId" name="rolId" value="<%= user.rolId %>">

        <button type="submit">Guardar cambios</button>
    </form>    
</body>
</html>
