<%- include('./partials/header'); %>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspeccionar Club</title>
    <link rel="stylesheet" href="/styles/style_inspeccionarEvento.css">
</head>
<body>

    <div class="container">
        <h1><%= club.nombre %></h1>

        <img src="/uploads/images_club/club_<%= club.id %>.jpg" alt="Imagen de <%= club.nombre %>" class="club-image">

        <a href="/club/show_club" class="button-back">Volver a la lista de clubes</a>

        <form action="/club/unirseClub/<%= club.id %>" method="POST">
            <button type="submit">Unirse al Club</button>
        </form>        

        <form action="/club/desligarse/<%= club.id %>" method="POST">
            <button type="submit" class="button-unirse">Desligarse del Club</button>
        </form>

        <!-- Mostrar los usuarios del club -->
        <h2>Usuarios del Club</h2>
        <% if (usuarios && usuarios.length > 0) { %>
            <ul>
                <% usuarios.forEach(function(usuario) { %>
                    <li>
                        <strong><%= usuario.nombre %> <%= usuario.apellido %></strong> - <%= usuario.email %> <!-- Muestra el nombre, apellido y correo del usuario -->
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No hay usuarios en este club.</p>
        <% } %>
    </div>

</body>
</html>
