<%- include('./partials/header'); %>  
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Distancias</title>
    <link rel="stylesheet" href="/styles/style_usuario.css">
</head>
<body>
    <h1>Lista de Distancias</h1>

    <% if (distancias.length > 0) { %>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <% distancias.forEach(distancia => { %>
                    <tr>
                        <td><%= distancia.id %></td>
                        <td><%= distancia.nombre %></td>
                        <td><%= distancia.precio %></td>
                        <td>
                            <form action="/events/edit_render_distancia/<%= distancia.id %>" method="get">
                                <button type="submit">Editar</button>
                            </form>
                        </td>
                        <td>
                            <form action="/events/delete_distancia/<%= distancia.id %>" method="post" onsubmit="return confirm('¿Estás seguro que quieres eliminar este usuario?');">
                                <button type="submit">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p>No hay distancias registradas.</p>
    <% } %>

</body>
</html>