<%- include('./partials/header'); %>  
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>

    <% if (users.length > 0) { %>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Edad</th>
                    <th>Email</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.nombre %></td>
                        <td><%= user.apellido %></td>
                        <td><%= user.fecha_naciemiento.toLocaleDateString() %></td>
                        <td><%= user.edad %></td>
                        <td><%= user.email %></td>
                        <td>
                            <form action="/edit_user_render/<%= user.id %>" method="get">
                                <button type="submit">Editar</button>
                            </form>
                        </td>
                        <td>
                            <form action="/delete_user/<%= user.id %>" method="post" onsubmit="return confirm('¿Estás seguro que quieres eliminar este usuario?');">
                                <button type="submit">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p>No hay usuarios registrados.</p>
    <% } %>

</body>
</html>